@use 'mixins' as *;

.order__basket-card {
  @include flex-center;
  align-items: flex-start;
  width: 100%;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    flex-direction: column;
    .order__basket-price {
      margin: 0;
      max-width: 192px;
      width: 100%;
      order: 1;
      @include flex-start;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      flex-direction: row;
      min-height: 0;
      .order__basket-price-new {
        font-size: 16px;
        line-height: 24px;
      }
      .warning--gray {
        margin: 0;
      }
    }
    .order__basket-total {
      order: 3;
      @include flex-start;
      flex-direction: row;
    }
    .order__basket-card-info {
      order: 2;
    }
  }
}
