@use 'mixins' as *;
@use 'variables' as *;

.order__basket-items {
  @include flex-start-column;
  gap: 20px;
  list-style: none;
  max-height: 476px;
  width: 100%;
  transition: top 0.5s ease-in-out;
  &.hidden {
    position: absolute;
    top: -478px;
  }
}

.hidden-title {
  font-weight: 600;
  margin: 0 !important;
  letter-spacing: -0.35px
}

.hidden-content {
  gap: 16px;
}

.hidden-card {
  justify-content: flex-start !important;
  margin-bottom: auto;
}

.hidden-content-img {
  margin: 0 !important;
}

.hidden-content-text {
  color: $system-gray !important;
  max-width: 309px !important;
  width: 100%;
  margin-right: 17px;
  @media screen and (min-width: 1400px){
    margin-right: 268px;
  }
}

.hidden-name {
  max-width: 309px !important;
}
