@use 'variables' as *;

.header__search-input {
  width: 100%;
  height: 24px;
  background-color: transparent;
  border: none;
  color: $system-white;
  font-size: 18px;
  line-height: 24px;
  outline: none;
  &::placeholder {
    color: $system-white;
    font-size: 18px;
    line-height: 24px;
    opacity: 0.5;
  }
}
