.popup__header-exit {
  all: unset;
  cursor: pointer;
  background-image: url("../../../images/popup/exit.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
