@use 'variables' as *;

.basket__counter {
  position: absolute;
  top: -5px;
  right: 3px;
  padding: 0 5.2px;
  height: 16px;
  border-radius: 16px;
  background-color: $system-red;
  color: $system-white;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  vertical-align: center;
  &.nav {
    top: 6px;
    right: -6px;
  }
}
