.header__search-btn {
  all: unset;
  cursor: pointer;
  background-image: url("../../../images/header/search-button-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}
