.order__basket-item-delete {
  all: unset;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-image: url('../../../images/order/basket/trash-icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
