@font-face {
  src: url('./woff2/SegoeUI.woff2') format('woff2'),
       url('./ttf/SegoeUI.ttf') format('truetype');
  font-family: 'SegoeUI';
  font-weight: 400;
}

@font-face {
  src: url('./woff2/SegoeUI-Bold.woff2') format('woff2'),
  url('./ttf/SegoeUI-Bold.ttf') format('truetype');
  font-family: 'SegoeUI';
  font-weight: 700;
}

@font-face {
  src: url('./woff2/SegoeUI-SemiBold.woff2') format('woff2'),
  url('./ttf/SegoeUI-SemiBold.ttf') format('truetype');
  font-family: 'SegoeUI';
  font-weight: 600;
}
