@use 'mixins' as *;

.order__container {
  margin: 0;
  //padding: 0 24px 16px 24px;
  @include flex-start-column;
  gap: 32px;

  &.content {
    width: 100%;
    @media screen and (max-width: 1399px) {
      //margin-left: 24px;
    }

    @media screen and (max-width: 1023px) {
      margin: 0;
    }
  }

  @media screen and (max-width: 1399px) {
    max-width: 640px;
  }

  @media screen and (max-width: 1023px) {
    @include flex-start-column;
    padding: 0 16px;
    width: 100%;
  }
}
