@use 'mixins' as *;

.order__basket-card-description {
  @include flex-start;
  gap: 16px;
  font-size: 13px;
  position: relative;
  z-index: 2;
  &.gray {
    color: #9797AF;
    @include flex-start-column;
    gap: 4px;
  }

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    .order__basket-card-size, .info-icon {
      display: none;
    }
  }
}
