@use 'mixins' as *;

.header__nav {
  @include flex-between;
  min-height: 56px;
  gap: 16px;
  max-width: 170px;

  @media screen and (min-width: 320px) and (max-width: 1023px) {
    max-width: 320px;
    min-height: 28px;
    padding: 14px 13px;
    width: 100%;
  }
}
