@use 'mixins' as *;

.order__basket-details {
  width: 100%;
  @include flex-start-column;
  gap: 16px;
  padding: 0;

  @media screen and (max-width: 1023px) {
    gap: 12px;
    margin-bottom: 16px;
  }
}
