@use 'mixins' as *;

.order__basket-item-btn {
  all: unset;
  cursor: pointer;
  padding: 2px 7px 6px 8px;
  max-width: 9px;
  max-height: 16px;
  width: 100%;
  @include flex-center;
  &disabled {
    color: rgba(0, 0, 0, 0.20);
  }
}
