@use 'mixins' as *;

.burger {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-radius: 8px;
  min-width: 48px;
  min-height: 48px;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 24px;
    background-image: url("../../images/burger/burger-line-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
