$system-violet: #6725A8;
$system-white: #fff;
$system-black: #000;
$system-red: #F55123;
$system-smoky: #F6F6FA;
$system-warning: #FF3B30;
$system-gray: #9797AF;
$system-magenta: #CB11AB;
$system-green: #0CB477;
