@use 'mixins' as *;
@use 'variables' as *;

.order__basket-details-offer {
  margin-top: 5px;
  font-size: 13px;
  line-height: 16px;

  //&::before {
  //  content: url("../../../images/order/details/succes.svg");
  //  margin-right: 8px;
  //}
}
.green {
  font-size: 13px;
  line-height: 16px;
  color: $system-green;
  //margin-left: 4px;
  padding-bottom: 1px;
  border-bottom: 1px dashed rgba(12, 180, 119, 0.20);
}

