@use 'variables' as *;

.popup {
  display: none;
  max-width: 500px;
  min-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  z-index: 2;
  background-color: $system-white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
  &.active {
    display: block;
  }
}
